PORT=5175
JWT_SECRET=change_this_to_a_long_random_secret
CORS_ORIGIN=http://127.0.0.1:5500

SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=admin123

# SMTP Email Configuration (optional, for automated email send)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=email-anda@gmail.com
SMTP_PASS=password-aplikasi-anda
SMTP_FROM="Redaksi Berita Krian <email-anda@gmail.com>"
